<%= render "shared/navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dn6lyapiu/image/upload/v1613775955/gif_tuycso.gif')">
  <div class="container">
    <h1><strong><%= @cocktail.name %></strong></h1>
  </div>
</div>


<div class="container mt-5">
  <h2>Doses</h2>
  <div class='cocktail-info'>
    <div class='row'>
      <div class='col-lg-6 mb-5'>
        <div class="card mt-3">
          <div class="card-header">
            <i class="fas fa-cocktail"></i><i>   1 Cocktail</i>
          </div>
          <div class="card-body">
            <% @cocktail.doses.each do |dose| %>
              <p class="card-text d-flex justify-content-between"><%= dose.description %>: <%= dose.ingredient.name %><%= link_to "delete", dose_path(dose), method: :delete %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class='col-lg-6'>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <!-- adds bootstrap button  -->
          <%= f.submit class: 'btn btn-dark mb-3' %>
        <% end %>
      </div>
    </div>
  <% @cocktail.reviews.each do |review| %>
    <div class="card my-3 ">    
      <div class="card-header">

          <% if review.user.present? %>
            <p class="card-text d-flex justify-content-between"><i> <%= review.user %></i><%= '⭐' * review.rating %></p>
          <% else %>
            <p class="card-text d-flex justify-content-between"><i><%= "anonymous review" %></i><%= '⭐' * review.rating %></p>
          <% end %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= review.content %></p>
      </div>
    </div>
    <% end %>
    <%# <%= render "reviews/new" %>
  </div>
</div>
